<div class="card">
    
  <h1 style="text-align: center;padding: 6px;margin: 0;">Lista dei nastri</h1>

  <div *ngIf="errors.length === 0">

    <p-table #dt 
      [value]="nastri" 
      [paginator]="true" 
      [lazy]="true"
      [totalRecords]="totalRecords"
      [rows]="resultsPerPage"
      [loading]="loading"
      [responsive]="true"
      [(first)]="first"
      (onLazyLoad)="load($event)" 
      (onPage)="onPage($event)"
      [dataKey]="rowId">
  
      <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of columns">{{col.header}}</th>
            <th>Dettaglio</th>
            <th>Stato</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-nastro>
          <tr>
            <td *ngFor="let col of columns">{{col.field === "sezione" ? nastro.sezione.descrizione : nastro[col.field]}}</td>
            <td>
              <p-button label="Dettaglio" (click)="onClick(nastro)"></p-button>
            </td>
            <td>
              {{getStato(nastro)}}
            </td>
          </tr>
      </ng-template>
    </p-table>

  </div>
  
</div>